<ul class="bg-w position-list">
    <!-- <li class="item">
        <img src="image/company-3.png" class="f-l logo" alt="">
        <h3 class="title">千度</h3>
        <p class="text">BMP能存透明么?JPEG呢?</p>
        <p class="text">2016-06-01 11:05</p>
    </li> -->
    <li ui-sref="position({id: item.id})" class="item p-r" ng-repeat="item in data|filterByObj:filterObj">
        <img ng-src="{{item.imageUrl}}" class="f-l logo" alt="">
        <h3 class="title" ng-bind="item.companyName"></h3>
        <p class="text" ng-bind="item.companyName+'['+item.cityName+']'+' '+item.industryName +' '+item.scaleName"></p>
        <p class="text" ng-bind="item.date"></p>
        <div class="clear"></div>
    </li>
</ul>