<ul class="bg-w position-list">
    <!-- <li class="item">
        <img src="image/company-3.png" class="f-l logo" alt="">
        <h3 class="title">千度</h3>
        <p class="text">BMP能存透明么?JPEG呢?</p>
        <p class="text">2016-06-01 11:05</p>
    </li> -->
    <li ui-sref="position({id: item.id})" class="item" ng-repeat="item in data">
        <img ng-src="{{item.imgSrc}}" class="f-l logo" alt="">
        <h3 class="title" ng-bind="item.companyName"></h3>
        <p class="text" ng-bind="item.name + ' ['+ item.industry + '] ' + item.city"></p>
        <p class="text" ng-bind="item.time"></p>
    </li>
</ul>